<div class="container">
  <div class="form-container">
    <div class="title">New Account</div>
    <form [formGroup]="newAccountForm">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input type="text" matInput formControlName="email" />
        <mat-error *ngIf="newAccountForm.controls.email.invalid">
          {{
            newAccountForm.controls.email.hasError("required")
              ? "Email is required"
              : "Please enter a valid email"
          }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your username</mat-label>
        <input type="text" matInput formControlName="username" />
        <mat-error *ngIf="newAccountForm.controls.username.invalid">
          {{
            newAccountForm.controls.username.hasError("required")
              ? "Username is required"
              : "Username cannot exceed 10 characters"
          }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="newAccountForm.controls.password.invalid">
          {{
            newAccountForm.controls.password.hasError("required")
              ? "Password is required"
              : "Please enter at least 6 characters"
          }}
        </mat-error>
      </mat-form-field>
    </form>
    <div class="buttons-container">
      <button
        mat-raised-button
        class="login-button"
        [disabled]="newAccountForm.invalid"
        (click)="createAccount()"
      >
        Create Account
      </button>
      <p>OR</p>
      <button mat-button routerLink="/login">Login</button>
    </div>
  </div>
</div>
