.nav-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  background-color: #4285F4;
  color: white;
  padding: 0px;
  box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.836);
  z-index: 10;

}

.branding{
  display: flex;
  flex-direction: row;
  /* height: 100%; */
  width:50%;
  align-items: center;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 800;
  padding: 10px;
  padding-left: 20px;
}

.account{
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  height: 100%;
  align-items: center;
  padding-right: 20px;
}
